<h2>Libros</h2>

<div class='row '>
    <div class='well col col-sm-12'>
        <form class="form" role="form">
            <div class='col col-sm-2'>
                <div class="form-groups">
                    <label class="control-label">Buscar</label>
                </div>
            </div>

            <div class='col col-sm-4'>
                <div class="form-group">
                    <label class="control-label sr-only">Titulo:</label>
                    <input type="text" class="form-control" placeholder="Titulo" ng-model="qTitle">
                </div>
            </div>
            <div class='col col-sm-3'>
                <div class="form-group">
                    <select class="form-control" ng-model="orderField" >
                        <option value="titulo">Titulo</option>
                        <option value="editorial">Editorial</option>
                    </select>
                </div>
            </div>
            <div class='col col-sm-3'>
                <div class="form-group">
                    <select class="form-control" ng-model="orderReverse" >
                        <option value="false">Ascendente</option>
                        <option value="true">Descendente</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
<br>

<div class="panel ">
    <div class='row'>
        <div class='col col-sm-12'>
            <div class="col-sm-6" 
                 ng-repeat="obj in libros| filter:qTitle | orderBy:orderField:orderReverse">
                <div class="thumbnail">
                    <a href="#/libro/{{obj.id}}"><img ng-src="{{obj.img}}"></a>
                    <div class="caption">
                        <a href="#/libro/{{obj.id}}"><h3>{{obj.titulo}}</h3></a>
                        <p><strong>{{obj.editorial}}</strong>{{obj.descripcion}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


