<a href="#/libros">< volver</a>




    <pre>Model: {{selected}}</pre>
    <input type="text" ng-model="selected" 
           typeahead="state for state in states | filter:$viewValue | limitTo:8" >
    
    
<h2>
    {{libro.titulo}} 
    <a role="button" ng-if="!editable" ng-click="editar()"><i class='fa fa-edit text-info'></i></a>
    <a role="button" ng-if="editable" ng-click="guardar()"><i class='fa fa-save  text-info'></i></a>
    <a role="button" ng-if="editable" ng-click="cancelar()"><i class='fa fa-close text-danger'></i></a>
</h2>

<form ng-if="editable" class="form-horizontal" >
  <div class="form-group">
      <text-angular style='max-height: 400px;' ng-if="editable" id="editArea" ng-model="libro.descripcion"></text-angular>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Tags</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="Ingrese etiquetas">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="reset" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</form>

<div ng-if="!editable" ng-bind-html="libro.descripcion"></div>


<style>
    .ta-editor {
  min-height: 300px;
  max-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
  box-shdaow : none!important;
}

</style>