<h2>Libros</h2>


<p>
<strong>Buscar</strong>


Titulo: <input ng-model="query.titulo">



<strong>Ordenar</strong>
 <select ng-model="orderField">
 		<option value="titulo">Titulo</option>
        <option value="editorial">Editorial</option>
    </select>
    <select ng-model="orderReverse">
 		<option value="false">Ascendente</option>
        <option value="true">Descendente</option>
    </select>


  
<span class="mini">{{var1}}</span>
</p>
 
<ul>
    <li ng-repeat="obj in libros | filter:query | orderBy:orderField:orderReverse">
    	<div ng-include src=" 'src/views/_libro-detail.html' "></div>
    </li>
</ul>


