<!DOCTYPE html>
<html ng-app="appAng" ng-controller="exadaRT as ert">
    <head>
        <title>Test WebSocket</title>
        <meta name="description" content="Test WebSocket">
        <meta name="author" content="Sima">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0;">

        <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
        <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <!--<link href="../static/css/bootstrap-theme.css" rel="stylesheet">-->
        <!--<link href="../static/css/font-awesome.min.css" rel="stylesheet">-->

        <script src="../bower_components/jquery/dist/jquery.min.js" ></script>
        <script src="../bower_components/floatThead/dist/jquery.floatThead.min.js" ></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js" ></script>
        <script src="../bower_components/angular/angular.min.js" ></script>
        
        <script src="../bower_components/autobahn/autobahn.js"></script>
        <script src="../bower_components/angular-wamp/release/angular-wamp.js"></script>
    
        <style>
            .table-scroll {
                overflow-y:auto;
                overflow-x:auto;
            }
            table.floatThead-table {
                border-top: none;
                border-bottom: none;
                background-color: #fff;
            }
            body { 
                position: absolute; 
                width: 1280px; 
                min-width: 1280px;
                max-width: 1280px;
                transform-origin: top left;
            }
        </style>

    </head>

    <body class='container-fluid' ng-controller="apiAppCtrl as vm" >
        <div >
          <form class="form-horizontal">
            <fieldset>
              <!-- Form Name -->
              <legend><strong>Example 1:</strong> Text updated on the fly in an SVG graphic via AngularJS.</legend>

                <div ng-include="'temperatura.svg'"></div>
                
              <div class="form-group col-xs-6">
                <label class="col-xs-4 control-label" for="textinput">Temperature</label>
                <div class="col-xs-6">
                    <input id="textinput" name="textinput" type="number" placeholder="temperatura" 
                        class="form-control input-md" ng-model="ert.Temperatura">
                </div>
              </div>
            </fieldset>
          </form>

                <p>1: {{vm.temp}} - {{ert.Temperatura}}</p>
                <p>add2: {{vm.add2}}</p>
                <p>counter: {{vm.counter}}</p>
                
                
        </div>
        <div class="col col-md-12">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
              Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal" id="myModal"
                 tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content " >
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  </div>
                  <div style="min-height:400px;" class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <script type="text/javascript">
            var app = angular.module("appAng", ["vxWamp"]);
            
            app.config(function ($wampProvider) {
                $wampProvider.init({
                   url: 'ws://127.0.0.1:8080/ws',
                   realm: 'realm1'
                   //Any other AutobahnJS options
                });
            })

            app.controller('apiAppCtrl', apiAppCtrl);
            app.controller('exadaRT', exadaRT);

            function apiAppCtrl($scope,$wamp){
                var vm=this;
                $wamp.open();
                
                // 1) subscribe to a topic
                function onevent(args) {
                    vm.counter = args[0]; 
                }
                $wamp.subscribe('com.example.oncounter', onevent);

                // 2) publish an event
                 $wamp.publish('com.example.onhello', ['Hello, world!']);

                // 4) call a remote procedure
                $wamp.call('com.example.add2', [2, 3]).then(
                    function (res) {
                        vm.add2 = res;
                });      
                
                 
                
                vm.temp = '2342';
            };
            
            function exadaRT($scope,$timeout){
                var ert=this;
                ert.Temperatura = 90;
                
                
                var countUp = function() {
                    ert.Temperatura += -.5 + Math.random();
                    $timeout(countUp, 2000);
                };
                $timeout(countUp, 500);
            };
            
        </script>
    </body>
</html>

