<!DOCTYPE html>
<html lang="en" data-ng-app>

  <head>
    <meta charset="utf-8">
    <title>Flask-Triangle - Tutorial</title>
  </head>

  <body data-ng-controller='TutoCtrl'>
    <form name="pForm">



      <button data-ng-click="send()" data-ng-disabled="pForm.$invalid">
        SEND
      </button>

    </form>
  </body>

</html> 
