<!doctype html>
<html lang="es" ng-app="appAng">
<head>
	<meta charset="utf-8"> 
    <!--<link href="css/estilos.css" rel="stylesheet" media="screen">-->
    
    <title>Libros APP . AngularJS</title>
    
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel='stylesheet' href='bower_components/textAngular/dist/textAngular.css'>

    <script src="bower_components/jquery/dist/jquery.min.js" ></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" ></script>
    <script src="bower_components/angular/angular.min.js" ></script>
    <script src="bower_components/angular-route/angular-route.min.js" ></script>
    
    <script src='bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
    <script src='bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script src='bower_components/textAngular/dist/textAngular.min.js'></script>
    
    <script src="bower_components/angular/ui-bootstrap-tpls-0.12.1.min.js" type="text/javascript"></script>
    
    <!--<script src="bower_components/floatThead/dist/jquery.floatThead.min.js" ></script>-->
<!--    <script src="bower_components/autobahn/autobahn.js"></script>
    <script src="bower_components/angular-wamp/release/angular-wamp.js"></script>-->
    
    <script src="./src/app.js"></script>
    <script src="./src/controllers/LibrosListController.js"></script>
    <script src="./src/controllers/LibroDetailController.js"></script>
   
</head>

<body class="container container-fluid" >
    <h1>Hola mundo</h1>
    <!--{{vm.campo}}-->
	<!--<div ng-view></div>-->
        
    <div ng-view></div>
    
    
  
</body>
</html>
