<!-- extend base layout -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block content %}
    <script type="text/javascript">
    
    </script>
    <h1>Sign In</h1>
    <div class="row well">
        <h1>Login</h1>
        {{ wtf.quick_form(form, horizontal_columns=('sm', 4, 8), action="", method="post", form_type='horizontal', button_map={'submit_button': 'primary'})}} 
    </div> 

{% endblock %}

