
<html>
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap-select.min.css" rel="stylesheet">
        <link href="/static/css/jquery.bootgrid.css" rel="stylesheet">
        <link href="/static/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body class="container">
    <div>Microblog: <a href="/index">Home</a></div>
    <hr>
    <div class="messages">
    </div>
        
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block content %}{% endblock %}
    
    <script src="/static/js/jquery.min.js"></script> 
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
    <script src="/static/js/bootstrap-select.min.js"></script>

    <script src="/static/js/eldarion-ajax-core.js"></script>
    <script src="/static/js/eldarion-ajax-handlers.js"></script> 

    <script src="/static/js/jquery.bootgrid.js"></script> 

    <script src="/static/js/jquery.rest.min.js"></script>
    
    {% block script %}{% endblock %}
    
  </body>
</html>
