<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    
		<div class="row">
			<div class="col-sm-4 col-sm-offset-8">
				<div class="form-group">
					<div class="input-group">
						<span class="icon glyphicon input-group-addon glyphicon-search"></span>
						<input class="form-control" type="text" placeholder="Search"></input>
					</div>
				</div>
			</div>
		</div>
		
	<table class="table table-bordered table-condensed table-hover table-stripe">
	  <thead>
	    <tr>
	      <th>name</th><th>food</th><th>legs</th><th>button</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td class="name">bird</td><td class="food">seed</td><td class="legs">2</td><td class="button"><a type="button" class="btn btn-default"> <spam class="fa fa-edit"></spam></a></td>
	    </tr><tr>
	      <td class="name">cat</td><td class="food">mouse, bird</td><td class="legs">4</td><td class="button"><a type="button" class="btn btn-default"> <spam class="fa fa-edit"></spam></a></td>
	    </tr><tr>
	      <td class="name">dog</td><td class="food">bone</td><td class="legs">4</td><td class="button"><a type="button" class="btn btn-default"> <spam class="fa fa-edit"></spam></a></td>
	    </tr><tr>
	      <td class="name">mouse</td><td class="food">cheese</td><td class="legs">4</td><td class="button"><a type="button" class="btn btn-default"> <spam class="fa fa-edit"></spam></a></td>
	    </tr>
	  </tbody>
	</table>
    
    <form class="form-inline test" role="form" id="test_getajax" >
        <div class="form-group">
            <input type="text" name="ruta" class="form-control" >
            <button type="submit" name="name3" class="btn btn-primary" > <spam class="fa fa-fw fa-refresh"> </spam> Cargar</button>
        </div>
    </form>


{% endblock %}
{% block script %}
    <script>
    if (!String.format) {
        String.format = function(format) {
            var args = Array.prototype.slice.call(arguments, 1);
            return format.replace(/{(\d+)}/g, function(match, number) { 
            return typeof args[number] != 'undefined'
                ? args[number] 
                : match
            ;
            });
        };
    }
    function add_message(type,num,msg){
		var message="<div class='alert alert-"+type+"'><a href='#' class='close' \
                            data-dismiss='alert'>&times;</a><strong>Error "+num+": </strong> "+msg+"</div>";
		$("div.messages").prepend(message);
    }

    function eajax(url, method, data,func) {
        var newdata = false;
        $.ajax({
            url: url,
            type: method,
            contentType: "application/json",
            data: data,
            success: function(data) {
                    func(data);
                },
            error: function (xhr, ajaxOptions, thrownError) {
                    //var msg = jQuery.parseJSON(xhr.responseText).message;
                    var msg = xhr.responseText;
                    add_message('danger',xhr.status,thrownError+" "+msg); 
                },
            }); 
        };
        
    function func1(data) {
        alert(JSON.stringify(data));
    };
    
    function getform(form){
        var data={},datas=form.serializeArray();
        for(var i in datas){
            data[datas[i].name]=datas[i].value;
        };
        return JSON.stringify(data);
    };
    
    
    $( "form" ).submit(function( event ) {
        event.preventDefault();
        var data = getform( $(this) ); 
        eajax( '/api/user','GET',data, func1 );  
    });
    
    $("#prueba").click(function( event ) {
		alert("hola mundo");
        //eajax( '/api/person','GET',data, func1 );  
    });
      
    </script>
{% endblock %}
