<!doctype html>
<html lang="es" >
    <head>
        <meta charset="utf-8"> 
        <link href="css/estilos.css" rel="stylesheet" media="screen">

        <title>Libros APP . AngularJS</title>
        <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>-->
        <link href="./css/bootstrap.min.css" rel="stylesheet">
        <link href="./css/font-awesome.min.css" rel="stylesheet">

        <script src="src/lib/jquery.min.js"></script> 
        <script src="src/lib/bootstrap.min.js"></script> 
        <script src="src/lib/angular.min.js"></script>

        <script src="src/app.js"></script>
        <script src="src/controllers/LibrosListController.js"></script>
        <script src="src/controllers/LibroDetailController.js"></script>

    </head>

    <body data-ng-app="libros" class="container">

        <a class="btn btn-info" data-toggle="modal" data-target="#mensajes" data-original-title>
            Mensajes
        </a>


        <div ng-controller="MyController">
            <h1>Acumulador</h1>
            <h2>Control de operación:</h2>
            ¿Cuánto? <input type="text" ng-model="cuanto" size="4" />
            <br />
            <input type="button" value="+" ng-click="sumar()"/>
            <input type="button" value="-" ng-click="restar()"/>
            <h2>Totales:</h2>
            En el acumulador llevamos <span>{{total}}</span>
        </div>


        <div ng-controller="MyController">
            Hello {{test}}!
        </div>

        <br />
        <input type="text" ng-model="campotexto" placeholder ='texto'>
        <br />
        {{ campotexto}} - {{ camposelect}}
        <br />
        <select ng-model="camposelect">
            <option value="uno">1</option>
            <option value="dos">2</option>
        </select>

        <div class="modal fade" id="mensajes" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        Mensajes...
                    </div>
                    <div class="modal-body msg_info" >
                        <a href="#/libros">< volver</a>
                        <h2>{{libro.titulo}} #{{id}}</h2>
                        <p> 
                            <img ng-src="{{libro.img}}" width="95" height="150"><br />
                            <strong>{{libro.editorial}}</strong><br /> {{libro.descripcion}} 
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-body msg_info" data-ng-view></div>

    </body>
</html>
