<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ user.name }}!</h1>
    
    <button  class="btn btn-info" id="but-test">test</button>
    <p id="demo" onclick="myFunction(this, 'red')">Click me to change my text color.</p>

    
    <form action="/api/person" method="post" class="form-horizontal test" role="form" id="myform" >
        <div class="form-group has-success has-feedback">
            <input type="text" name="name" class="form-control" >
            <select name="texto3" class="selectpicker" multiple title='Choose one of the following...'>
                <option>Mustard</option>
                <option>Ketchup</option> 
                <option>Relish</option>
            </select>
            <button type="submit" name="name3" class="btn btn-primary" >send</button>
        </div>
    </form>

    <button id="btn-yea" class="btn btn-primary" >test</button>

{% endblock %}
{% block script %}
    <script>
    if (!String.format) {
        String.format = function(format) {
            var args = Array.prototype.slice.call(arguments, 1);
            return format.replace(/{(\d+)}/g, function(match, number) { 
            return typeof args[number] != 'undefined'
                ? args[number] 
                : match
            ;
            });
        };
    }
    function add_message(type,num,msg){
        $("div.messages").prepend("<div class='alert alert-"+type+"'><a href='#' class='close' \
                            data-dismiss='alert'>&times;</a><strong>Error "+num+": </strong> "+msg+"</div>");
    }

    function eajax(url, method, data,func) {
        var newdata = false;
        $.ajax({
            url: url,
            type: method,
            contentType: "application/json",
            data: data,
            success: function(data) {
                    func(data);
                },
            error: function (xhr, ajaxOptions, thrownError) {
                    var msg = jQuery.parseJSON(xhr.responseText);
                    // alert(String.format("Error {0}: {1} \nMensage: {2}",xhr.status,thrownError,msg.message));
                    add_message('danger',xhr.status,thrownError+" "+msg.message); 
                }
            }); 
        };
        
    function func1(data) {
        alert(JSON.stringify(data));
    };
    
    function getform(form){
        var data={},datas=form.serializeArray();
        for(var i in datas){
            data[datas[i].name]=datas[i].value;
        };
        return JSON.stringify(data);
    };
    
    
    $( "form" ).submit(function( event ) {
        event.preventDefault();
        var data = getform( $(this) ); 
        eajax( '/api/person','POST',data, func1 );  
    });
    
    $("forms").on("submit", function(e){
        var form = $('form'); 
        var data = {};
        e.preventDefault();
        for(var i = 0, ii = form.length; i < ii; ++i) 
        {
            var input = form[i];
            alert(input);
            if (input.name) {
                data[input.name] = input.value;
            }
        }
        alert(JSON.stringify(data));
        alert(form.length);
        
        alert("You pressed submit form");
        
        alert(data);
        eajax('/api/person','POST',data,func1);
        // alert(JSON.stringify(data));
    });  

    
    /*
    function func1(data) {
        alert(JSON.stringify(data));
    };
    
    function eajax(url, method, data,func) {
        var newdata = false;
        $.ajax({
            url: url,
            type: method,
            contentType: "application/json",
            data: ,JSON.stringify(data)
            success: function(data) {
                    func(data);
                }
            }); 
        };
        
    function rest_post(url, data, func ) {
        var newdata = false;
        $.ajax({
            url: url,
            type: method,
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function(data) {
                    func(data);
                }
            }); 
        };
        
    function submit(e) {
        var $this = $(this),
            data = $this.serialize();

        e.preventDefault();
        alert(data);
    };
    $("btn-yea").on("click", function(e){
        alert("You pressed delete ");
    }); 

    var form = document.getElementById("myform"); 
    form.onsubmit = function (e) {  
        e.preventDefault();
        var data = {};
        for(var i = 0, ii = form.length; i < ii; ++i) 
        {
            var input = form[i];
            if (input.name) {
                data[input.name] = input.value;
            }
        }
        alert(JSON.stringify(data));
        eajax('/api/person','POST',data,func1);
    };
    

    function myFunction(elmnt,clr) {
        elmnt.style.color = clr;
        
        var client = new $.RestClient('/api/',{stripTrailingSlash: true});
        client.add('person');
        var data ={'name':"prueba de create"}
        ///client.person.create(JSON.stringify(data));
        // eajax('/api/person','POST',data);  
        //eajax('/api/person','POST',data,func1);
        
//             var request = client.person.read();
//             request.done(function (data){
//                 alert('I have data: ' + data.objects[0].name);
//             });
    };*/
    </script>
{% endblock %}