
<a href="#/libro/{{obj.id}}" > 
	<img ng-src="{{obj.img}}" width="95" height="150">
</a>
<button type="button" class='btn btn-primary' ng-click="funcion()" data-toggle="modal" data-target="#mensajes" data-original-title>ver</button>


<p><a href="#/libro/{{obj.id}}">{{obj.titulo}}</h4></a><br /><br />
<strong>{{obj.editorial}}</strong><br />
{{obj.descripcion}}</p>

