<!DOCTYPE html>
<html ng-app="appAng" ng-controller="exadaRT as ert">
    <head>
        <title>Modal y Ajax</title>
        <meta name="description" content="Prueba modal y ajax">
        <meta name="author" content="Sima">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0;">

        <link href="../static/css/bootstrap.css" rel="stylesheet">
        <!--<link href="../static/css/bootstrap-theme.css" rel="stylesheet">-->
        <link href="../static/css/font-awesome.min.css" rel="stylesheet">

        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/jquery.floatThead.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/angular.min.js"></script>
    
        <style>
            .table-scroll {
                overflow-y:auto;
                overflow-x:auto;
            }
            table.floatThead-table {
                border-top: none;
                border-bottom: none;
                background-color: #fff;
            }
            body { 
                position: absolute; 
                width: 1280px; 
                min-width: 1280px;
                max-width: 1280px;
                transform-origin: top left;
            }
        </style>

    </head>

    <body class='container-fluid' ng-controller="apiAppCtrl as vm" >
        <div >
          <form class="form-horizontal">
            <fieldset>
              <!-- Form Name -->
              <legend><strong>Example 1:</strong> Text updated on the fly in an SVG graphic via AngularJS.</legend>

                <div ng-include="'temperatura.svg'"></div>
                
              <div class="form-group col-xs-6">
                <label class="col-xs-4 control-label" for="textinput">Temperature</label>
                <div class="col-xs-4">
                  <input id="textinput" name="textinput" type="text" placeholder="temperatura" 
                        class="form-control input-md" ng-model="ert.Temperatura">
                </div>
              </div>
            </fieldset>
          </form>

                {{vm.temp}} - {{ert.Temperatura}}
        </div>

        <script type="text/javascript">
            app = angular.module('appAng',[]);

            app.controller('apiAppCtrl', apiAppCtrl);
            app.controller('exadaRT', exadaRT);

            function apiAppCtrl($scope){
                var vm=this;

                vm.temp = '2342';
            };
            
            function exadaRT($scope,$timeout){
                var ert=this;
                ert.Temperatura = 90;
                
                
                var countUp = function() {
                    ert.Temperatura += -.5 + Math.random();
                    $timeout(countUp, 2000);
                };
                $timeout(countUp, 500);
            };
            
        </script>
    </body>
</html>

