<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>vue-schema</title>
    <link rel="stylesheet" href="pure-min.css" />
    <link rel="stylesheet" href="app.css" />
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/font-awesome.min.css" rel="stylesheet">
    <link href="./css/bootstrap-select.min.css" rel="stylesheet">
</head>
<body class="container">
    <div id="editor">
            
        <h2>Ajax eldarion</h2>
        <a href="/ajax" class="btn ajax" data-method="post" data-refresh=".done-list">
          <i class="icon icon-check"></i>
          Done
        </a>
        
        <form method="post" action="/tasks/add/" class="ajax form-horizontal" role="form">
            <div class="form-group has-success has-feedback">
                <input type="text" name="text1" class="form-control getoptions" id="inputSuccess3">
                <input type="text" name="text2" class="form-control" id="inputSuccess4">
                <input type="submit" class="btn btn-default" >    
            </div>
        </form>
        

        <div id="validator-forms" class="row">
            <form class="form-horizontal col-xs-12 col-md-12">
                <from-group v-with="valid: validation['form.comment'], width:4, title:'Comentario'">
                    <textarea type="text" class="form-control" v-model="form.comment" v-validate="required,minLength: 16, maxLength: 128"></textarea>
                </from-group> 

                <from-group v-with="valid: validation['form.number'], width:4, title:'Numero Loco que ta loco'">
                    <input  class="form-control" v-model="form.number" v-validate="required,decimal,min:0.02,max:4.5">
                </from-group>    

                <from-group v-with="valid: validation['form.password'], width:4, title:'Clave'">
                    <input type="password" class="form-control" v-model="form.password" v-validate="required,minLength:4">
                </from-group>
                
                <from-group v-with="valid: validation['form.select1'], width:4, title:'Clave'">
                    <select class="form-control" v-model="form.select1" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </from-group>    
                
                <from-group v-with="valid: validation['form.pepe'], width:4, title:'Pepe'">
                    <select name="text4" v-model="form.pepe" class="selectpicker show-menu-arrow" data-live-search="true" data-size="5">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                        <option>Tent</option>
                        <option>Flashlight</option>
                        <option>Toilet Paper</option>
                        <option>Tent</option>
                        <option>Flashlight</option>
                        <option>Toilet Paper</option>
                    </select>
                </from-group>    
                 
                <from-submit v-with="valid:valid,  width:4, submit:'Guardar'">
                    <input type="reset" class="btn btn-default" >    
                </from-submit>
            </form>
            <p>form </p>
            <pre style="font-size:11px">
                {{ form | JSON}}
            </pre>

            <p>validation </p>
            <pre style="font-size:11px">
            {{validation | JSON}}
            </pre>

            <p>_validators </p>
            <pre style="font-size:11px">
            {{validators | JSON}}
            </pre>
        </div>
        
        
    </div>

    <script src="./lib/vue.js"></script>
    <script src="./lib/vue-validator.js"></script>
    <script src="./lib/jquery.min.js"></script>
    <script src="./lib/bootstrap.min.js"></script>
    <script src="./lib/bootstrap-select.min.js"></script>
    <script src="./app_validator.js"></script>
    <script src="./lib/eldarion-ajax-core.js"></script>
    <script src="./lib/eldarion-ajax-handlers.js"></script> 
    
    <script>
        $(".btn.ajax").on("eldarion-ajax:begin", function(evt, $el) { $el.html("Processing..."); });
        $(document).on('eldarion-ajax:success', '[data-replace-inner-no]', function(evt, $el, data) { alert(data.html); });  
    </script> 
    
</body>
</html>
