<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>vue-schema</title>
    <link rel="stylesheet" href="pure-min.css" />
    <link rel="stylesheet" href="app.css" />
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="container">
    <div id="editor">
            
        <my-input v-with="texto: valid">
            original content
        </my-input>

        <br>
        <p>name:{{texto}}</p>
        <br>
        <input v-model="texto">
        <a href="#a" v-on="click: test">click</a>
        

        <div id="validator-forms" class="row">
            <form class="form-horizontal col-xs-12 col-md-12">
                <from-group v-with="valid: validation['form.comment'], width:4, title:'Comentario'">
                    <textarea type="text" class="form-control" v-model="form.comment" v-validate="required,minLength: 16, maxLength: 128">
                    </textarea>
                </from-group> 

                <from-group v-with="valid: validation['form.number'], width:4, title:'Numero Loco que ta loco'">
                    <input  class="form-control" v-model="form.number" v-validate="required,decimal,min:0.02,max:4.5">
                </from-group>    

                <from-group v-with="valid: validation['form.password'], width:4, title:'Clave'">
                    <input type="password" class="form-control" v-model="form.password" v-validate="required,minLength:4">
                </from-group>    
                 
                <from-submit v-with="valid:valid,  width:4">
                    <a type='button' class="btn btn-default" >Cancelar</a>
                </from-submit>
            </form>
        </div>

        

        <p>form </p>
        <pre style="font-size:11px">
            {{ form | JSON}}
        </pre>

        <p>validation </p>
        <pre style="font-size:11px">
        {{validation | JSON}}
        </pre>
        
        <p>_validators </p>
        <pre style="font-size:11px">
        {{validators | JSON}}
        </pre>
        
        
    </div>

    <script src="./lib/vue.js"></script>
    <script src="./lib/vue-validator.js"></script>
    <script src="./lib/jquery.min.js"></script>
    <script src="./lib/bootstrap.min.js"></script>
    <script src="./app3.js"></script>
</body>
</html>
