<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vue.js Sima example</title>
        <meta charset="utf-8">
        <link href="./css/bootstrap.min.css" rel="stylesheet">
        <link href="./css/font-awesome.min.css" rel="stylesheet">

    </head>
    <body id="ex_tags" class="container">
        <a v-on="click: ontest" class="btn btn-info" data-toggle="modal" data-target="#mensajes" data-original-title>
            Mensajes
        </a>

        <div class="modal fade" id="mensajes" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        Mensajes...
                    </div>
                    <div class="modal-body msg_info" > 
                        <a href="#/libros">< volver</a>
                        <h2> libro.titulo  # id </h2>
                        <p> 
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!--         <br>
                <user-profile v-with="user"></user-profile>
                 <br>-->

        
        
        <div id="demo">
            <input v-model="message">
            <br>

            {{message}}

        </div>

        <span > {{tags.Temperatura}} </span>
        <br/>
        <span > {{tags.Tension}} </span>


        <div class="form-group has-error has-feedback">
          <label class="control-label" for="inputError2">Input with error</label>
          <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status">
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          <span id="inputError2Status" class="sr-only">(error)</span>
        </div>

        <span v-class="
            has-warning : valido==true,
            has-error : valido==false
            ">
                Nada
        </span>

        <form class="form-horizontal" >
            <div class="form-group has-feedback"  v-class="
                has-success : validator.form.nombre.valid,
                has-error : validator.form.nombre.invalid
                ">
                <label class="col-sm-4 control-label">Nombre</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model="form.nombre" v-valid="required,alpha"/> 
                    <span class="glyphicon form-control-feedback" aria-hidden="true"
                          v-class="glyphicon-ok: validator.form.nombre.valid, glyphicon-remove: validator.form.nombre.invalid"></span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Sign in</button>
                </div>
            </div>
        </form>

        <!--        <table class="form">
                    <tr v-class="invalidText: validator.form.name.invalid">
                        <td>First name</td>
                        <td><input type="text" v-model="form.nombre" v-valid="required,alpha"/> <span v-if="validator.form.name.modified">*</span></td>
                    </tr>
                </table>-->

        <span > {{form.name}} </span> 

        <p> form data: </p>
        <pre style="font-size:11px">
            {{form | JSON}}
        </pre>

        <p>validator: </p>
        <pre style="font-size:11px">
        {{validator | JSON}}
        </pre>

        
        <my-element msg="custom message">
        original content
        </my-element>

<!--        
        <form class="form-horizontal" >
            <input-text v-with="config.prueba, valid: validator.form.prueba, vmodel: form.prueba "></input-text>
            <input-text v-with="input, succes: validator.form.prueba.valid, error:succes: validator.form.prueba.valid "></input-text>
        </form>-->
        
<!--        <script type="text/x-template" id="input-text">
            <div class="{{ 'has-success : validator.form' + dbfield + '.valid' }}" >  
            Pepe+{{dbname}}
            </div>
        </script> -->
        
        <h2>Text component</h2>
<!--        <form class="form-horizontal" >
            <div v-component="test" ></div>  
        </form>-->
               
        <x-component v-with="name: form.nombre" ></x-component> 
        
        <h1>fin input-text</h1>
        
        <script type="text/x-template" id="input-text">
            <div class="form-group has-feedback"  v-class="has-success : sucess,  has-error : error ">
                <label class="col-sm-4 control-label">Prueba X</label>
                <div class="col-sm-8">
//                    <input type="text" class="form-control" v-model="form.prueba" v-valid="required,alpha"/> 
                    {{input}}
                    <span class="glyphicon form-control-feedback" aria-hidden="true"
                          v-class="glyphicon-ok: sucess, glyphicon-remove: error"></span>
                </div>
            </div>
        </script>
        <script type="text/x-template" id="input-text2">
            <div class="form-group has-feedback" v-class="has-success:valid.valid, has-error:valid.invalid">
                <label class="{{'col-sm-'+ ancho +' control-label'}}">{{dbname}}</label>
                <div class="{{'col-sm-' + (12 - ancho) }}" >
                    <input type="text" class="form-control" v-model="form.prueba" v-valid="required,alpha" /> 
                    <span class="glyphicon form-control-feedback" aria-hidden="true"
                          v-class="glyphicon-ok: valid.valid, glyphicon-remove: valid.invalid"></span>
                </div>
            </div> 
        </script>
      
      

        <script src="./lib/require.min.js" data-main="app.js" type="text/javascript"></script>
        <!--<script src="./lib/vue.js"></script>-->
        <script src="./lib/jquery.min.js"></script> 
        <script src="./lib/bootstrap.min.js"></script>
        <!--<script src="app.js"></script>-->
    </body>
</html>