<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>vue-schema</title>
    <link rel="stylesheet" href="pure-min.css" />
    <link rel="stylesheet" href="app.css" />
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="container">
  <div id="editor">
    <div id="left-side">
      <div  v-component="schema-links">
        <a href="#a" v-on="click: setHref">click</a>
      </div>
        
      <div id="input" v-component="vue-schema" v-with="schema: schema">
        <div v-if="!schema.properties"><em>Pick a schema. Any schema!</em>
            <br /><small>Or paste one in the textarea below.</small></div>
          <form class="pure-form pure-form-aligned">
            <h1 v-if="schema.title">{{schema.title}}</h1>
            <div v-if="schema.description"><small>{{schema.description}}</small></div>
            <div v-repeat="schema.properties" v-component="json-schema-property"></div>
          </form>
      </div>
      <textarea id="schema"
        v-component="json-textarea"
        v-with="content: schema" 
        schema="schema" 
        v-on="change: updateSchema"></textarea>
    </div>
      
      <form class="form-horizontal" >
     <my-element 
         msg="Ok msg"
         dbfield="db" 
         v-with="validator: validator.form.nombre" >
        <a href="#a" v-on="click: test">click</a> 
    </my-element>
      </form>
      
    <textarea id="output" v-on="click: output()">...click in here to update the output...</textarea>
  </div>

  <!-- templates -->
  <script id="json-schema-property" type="text/vue-template+html">
    <div data-json="kvp" v-if="type != 'object'" class="pure-control-group">
      <label for="{{$key}}">{{$key}}</label>
      <input name="{{$key}}" type="{{type}}" />
      <p class="pure-help-inline" v-if="description"><small>{{description}}</small></p>
    </div>
  </script>

    <script src="./lib/require.min.js" data-main="app2.js" type="text/javascript"></script>
    <script src="./lib/jquery.min.js"></script>
    <script src="./lib/bootstrap.min.js"></script>
<!--  <script src="./lib/vue.min.js"></script>
  <script src="app2.js"></script>-->
</body>
</html>
