<!DOCTYPE html>
<html ng-app="ui.bootstrap.demo">
    <head>
        <title>Modal y Ajax</title>
        <meta name="description" content="Prueba modal y ajax">
        <meta name="author" content="Sima">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link href="./static/css/bootstrap.css" rel="stylesheet">
        <link href="./static/css/bootstrap-theme.css" rel="stylesheet">
        <link href="./static/css/font-awesome.min.css" rel="stylesheet">
        <!--<link href="./static/css/bootstrap-table.min.css" rel="stylesheet">-->
        <!--<link href="./static/css/jquery.dataTables.css" rel="stylesheet">-->

        <script src="./static/js/jquery.min.js"></script>
        <script src="./static/js/angular.min.js"></script>
        <script src="./static/js/ui-bootstrap-tpls-0.12.1.min.js"></script>
        <!--<script src="./static/js/bootstrap-table.min.js"></script>-->
        <!--<script src="./static/js/bootstrap.min.js"></script>-->
        <!--<script src="./static/js/jquery.dataTables.min.js"></script>-->
        <script src="./static/js/jquery.floatThead.min.js"></script>


        <script src="./static/js/test_sa.js"></script>

        <style>
            thead a {
                color: #000;
                text-decoration: none;
            }
            .wrap {
                overflow: auto;
                position: relative;
                padding-right: 0px;
                overflow-y: scroll;
                border-width: 1px;
                margin-left: -1px;
                margin-right: 1px;
                padding-left: 1px;
            }
            table.floatThead-table {
                border-top: none;
                border-bottom: none;
                background-color: #fff;
            }

        </style>

    </head>

    <body class="container">

        
        <h1>Tabla X 1</h1>
        
        <i class="fa fa-angle-left"></i>
       
        <div ng-controller="apiAppCtrl as vm">
            
            <h1>Tabla floatThead</h1>
            
            <div id="ejemplo-datatable1" class="  col-md-8" >
                <div class='wrapper small wrap' style="height: 300px;">
                    <table class="table large table-striped table-bordered table-hover" >
                        <thead>
                            <tr>
                                <th >Index </th>
                                <th >
                                    <spam href="" ng-click="vm.orden = (vm.campo=='name'? !vm.orden:vm.orden); vm.campo='name'">Name 
                                        <spam ng-if="vm.campo == 'name'"  class='icon glyphicon' ng-class="{'glyphicon-chevron-up': vm.orden, 'glyphicon-chevron-down': !vm.orden}"></spam>    
                                    </spam>
                                </th>
                                <th style="min-width: 800px">
                                    <spam href="" ng-click="vm.orden = (vm.campo=='description'? !vm.orden:vm.orden); vm.campo='description'">Description 
                                        <spam ng-if="vm.campo == 'description'"  class='icon glyphicon' ng-class="{'glyphicon-chevron-up': vm.orden, 'glyphicon-chevron-down': !vm.orden}"></spam>    
                                    </spam>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cerveza in vm.cervezas| filter:vm.filtroCliente | orderBy:vm.campo:vm.orden" ng-class="{even: $even, odd: $odd}">
                                <td> <span class="label label label-info">{{$index + 1}}</span> </td>
                                <td> <span class="name">{{cerveza.name}}</span> </td>
                                <td> <span class="name">{{cerveza.description}}</span> </td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>

                
            <div class="col-md-4">
                <p>
                    Busca cerveza AJAX:
                    <input type="text" ng-model="vm.nombre"> <input type="button" value="Buscar" ng-click="vm.buscaCervezas()">
                </p>
                <aside>
                    Filtra: <input type="text" ng-model="vm.filtroCliente">
                    <h2>Orden</h2>
                    <p>
                        <button ng-click="vm.orden = false">Alfabetico</button>
                        <br />
                        <button ng-click="vm.orden = true">Contrario</button>
                    </p>
                    <p>
                        <input type="radio" name="campo" ng-model="vm.campo" value="name"> Nombre
                        <br />
                        <input type="radio" name="campo" ng-model="vm.campo" value="description"> Descripción
                    </p>
                    <p>vm.campo: {{vm.campo}}</p>
                </aside>
            </div>
        </div>

        <form name="myForm" ng-controller="ExampleController">
            <label>Number:
                <input type="number" name="numero" ng-model="example.numero"
                       min="0.9" max="9.9" required>
            </label>
            <label>Email:
                <input type="email" name="email" ng-model="example.email"
                       min="0.9" max="9.9" required>
            </label>
            <div    >
                <span class="error" ng-show="myForm.input.$error.required">
                    Required!</span>
                <span class="error" ng-show="myForm.input.$error.number">
                    Not valid number!</span>
            </div>

            <p class="error" ng-show="myForm.email.$valid"> Valid Email! {{myForm.email.$valid}}</p>
            <p class="error" ng-show="myForm.numero.$valid"> Valid Number! {{myForm.numero.$valid}}</p>
            <tt>numero = {{example.numero}}</tt><br/>
            <tt>email = {{example.email}}</tt><br/>
            <tt>myForm.input.$valid = {{myForm.input.$valid}}</tt><br/>
            <tt>myForm.input.$error = {{myForm.input.$error}}</tt><br/>
            <tt>myForm.$valid = {{myForm.$valid}}</tt><br/>
            <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br/>
        </form>


        <div ng-controller="DatepickerDemoCtrl">
            <pre>Selected date is: <em>{{dt| date:'fullDate' }}</em></pre>

            <h4>Inline</h4>
            <div style="display:inline-block; min-height:290px;">
                <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
            </div>

            <h4>Popup</h4>
            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Format:</label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
                </div>
            </div>

            <hr />
            <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="dt = '2009-08-24'">2009-08-24</button>
            <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" tooltip="After today restriction">Min date</button>
        </div>


        <div ng-controller="AlertDemoCtrl" >
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
        </div>


        <div ng-controller="ButtonsCtrl">
            <h4>Single toggle</h4>
            <pre>{{singleModel}}</pre>
            <button type="button" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                Single Toggle
            </button>
            <h4>Checkbox</h4>
            <pre>{{checkModel}}</pre>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="checkModel.left" btn-checkbox>Left</label>
                <label class="btn btn-primary" ng-model="checkModel.middle" btn-checkbox>Middle</label>
                <label class="btn btn-primary" ng-model="checkModel.right" btn-checkbox>Right</label>
            </div>
            <h4>Radio &amp; Uncheckable Radio</h4>
            <pre>{{radioModel|| 'null'}}</pre>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'">Left</label>
                <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'">Middle</label>
                <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'">Right</label>
            </div>
            <div class="btn-group">
                <label class="btn btn-success" ng-model="radioModel" btn-radio="'Left'" uncheckable>Left</label>
                <label class="btn btn-success" ng-model="radioModel" btn-radio="'Middle'" uncheckable>Middle</label>
                <label class="btn btn-success" ng-model="radioModel" btn-radio="'Right'" uncheckable>Right</label>
            </div>
        </div>




        <script>
            $(document).ready(function() {
                $('#ejemplo-datatable1 table').floatThead({
                     useAbsolutePositioning: true,
                    scrollContainer: function($table){
                        return $table.closest('#ejemplo-datatable1'); 
                    }
                }).floatThead('reflow');
            } );
        </script>

    </body>
</html>

